<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/deleteItem.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Delete Item</title>
</head>

<body>
    <div class="header">
        <h1 class="title">Catalog App</h1>
        <button id="logoutbutton" class="logoutButton">Logout</button>
        <script src="/static/logoutscript.js"></script>
    </div>
    <div class="bodyContentContainer">
        <div class="leftColumn">
            <h2>Delete Item</h2>
            <p>Are you sure you want to delete {{item}}?</p>
            <form action="#" method="post">
                <input type="submit">
            </form>
        </div>
</body>

</html>